@tailwind base;
@tailwind components;
@tailwind utilities;

.products1 {
  display: flex;
  justify-content: center;
}

.cart1 {
  display: flex;
  justify-content: center;
  gap: 700px;
}

.footer1 {
  position: fixed;
  bottom: 10px;
  width: 100%;
}

.button1 {
  margin-left: 850px;
  margin-top: 130px;
}
